@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body {
    background: var(--dark-slate-grey);
    -webkit-font-smoothing: antialiased;
}

:root {
    --tomato: hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body,
input,
button,
table {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

.main {
    background: var(--white);
    position: absolute;
    top: 28%;
    left: 33%;
}

.left h2 {
    color: var(--dark-slate-grey);
    /* font-size: 3rem; */
}